!!!
%html
  %head
    %title Game of Life
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header.header
      .container
        %h1= link_to "Game of Life", root_path
    %main.container.main
      .row
        .col-sm-6
          = form_tag find_boards_path, class: "form-inline" do
            = label_tag :slug, "See an example"
            = select_tag :slug, options_for_select(ExampleBoardDecorator.example_options, @board.slug), class: "form-control"
            = submit_tag "Go", class: "btn btn-primary"
        .col-sm-6
          %ul.actions
            %li
              %button#run.btn.btn-success Run
            %li
              %button#stop.btn.btn-danger Stop
            %li
              %button#reset.btn.btn-warning Reset
      #gofl.board{ data: { board: { board: @board.board, height: @board.height, width: @board.width }.to_json } }
      = form_tag "", class: "form-inline", id: "resize-form" do
        .form-group
          = label_tag :x, "Width"
          = text_field_tag :x, @board.height, id: "x", class: "form-control"
        .form-group
          = label_tag :y, "Height"
          = text_field_tag :y, @board.width, id: "y", class: "form-control"
        = submit_tag "Change Board Size", class: "btn btn-default"
      %h3 Share this
      - @board_for_form ||= Board.new
      = form_tag boards_path, class: "form-inline", id: "share-board" do
        .form-group
          = label_tag "board[name]", "Name"
          = text_field_tag "board[name]", @board_for_form.name, class: "form-control"
        = submit_tag "Share Board", class: "btn btn-success"
      = yield
