!!!
%html
  %head
    %title Game of Life
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
    %h2 Examples
    %ul
      - Board.examples.each do |board|
        %li= link_to board.name, board_path(board.slug)

